<html>
<head>
    <title>Actualizar</title>
    <link href="{{ url_for('mirecurso', path='/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('mirecurso', path='/bootstrap.bundle.min.js') }}"></script>
<head>
    <body>
        <br>
        <h3>Actualizar Datos</h3>
        <br>
        {% for diccionario in lista %}
            {% if diccionario.get('item_id') == id: %}
            <form method="POST" action="/modificar_l/{{lista.index(diccionario)}}">
                <div class="col-sm-3 form-group">
                    <label class="col-form-label">Matricula:</label>
                    <input type="number" name="f_matri" class="form-control" required value="{{ diccionario.get('matri') }}">
                    <label class="col-sm-2 col-form-label">Nombre:</label>
                    <input type="text" name="f_nomb" class="form-control" required value="{{ diccionario.get('nomb') }}">
                    <label >Apellido Paterno:</label>
                    <input type="text" name="f_pater" class="form-control" required value="{{ diccionario.get('pater')}}">
                    <label >Apellido Materno:</label>
                    <input type="text" name="f_mater" class="form-control" required value="{{ diccionario.get('mater')}}">
                    <label class="col-sm-2 col-form-label">Edad:</label>
                    <input type="number" name="f_edad" class="form-control" required value="{{ diccionario.get('edad')}}">
                    <label class="col-sm-2 col-form-label">Correo:</label>
                    <input type="email" name="f_mail" class="form-control" required value="{{ diccionario.get('mail')}}">
                    <label class="col-sm-2 col-form-label">Teléfono:</label>
                    <input type="number" name="f_telef" class="form-control" required value="{{ diccionario.get('telef')}}">
                    <label class="col-sm-2 col-form-label">Carrera:</label>
                    <input type="text" name="f_carr" class="form-control" required value="{{ diccionario.get('carr')}}">
                    <br>
                    <a href="/lista" class="btn btn-danger">Cancelar</a>
                    <button class="btn btn-success" type="submit">Modificar</button>
                </div>
            </form>
            {% endif %}
        {% endfor %}

    </body>     
</html>